<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Admin</title>
        <link rel="stylesheet" href="{% static 'app/vendors/mdi/css/materialdesignicons.min.css' %}" />
        <link rel="stylesheet" href="{% static 'app/vendors/css/vendor.bundle.base.css' %}" />
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
        <link rel="shortcut icon" href="{% static 'app/images/favicon.ico' %}" />
    </head>
    <body>
        <div class="container-scroller">
            {% include 'app/partials/navbar.html' %}
            <div class="container-fluid page-body-wrapper">
                {% include 'app/partials/sidebar.html' %}
                <div class="main-panel">

                    {% block content %}
                    {% endblock content %}

                    {% include 'app/partials/footer.html' %}
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->

        <script src="{% static 'app/vendors/js/vendor.bundle.base.js' %}"></script>
        {% if is_need_chart %}<script src="{% static 'app/vendors/chart.js/Chart.min.js' %}"></script>{% endif %}
        <script src="{% static 'app/js/off-canvas.js' %}"></script>
        <script src="{% static 'app/js/hoverable-collapse.js' %}"></script>
        <script src="{% static 'app/js/misc.js' %}"></script>
        {% if is_dashboard %}
        <script src="{% static 'app/js/dashboard.js' %}"></script>
        <script src="{% static 'app/js/todolist.js' %}"></script>
        {% endif %}
        {% if is_need_chart %}<script src="{% static 'app/js/chart.js' %}"></script>{% endif %}
        {% if is_need_file_upload %}<script src="{% static 'app/js/file-upload.js' %}"></script>{% endif %}
    </body>
</html>
